section{
    /* background: url(../../assets/images/w.jpg); */
    background-color: aliceblue;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
section .title h1 {
    padding-top: 3%;
    text-align: center;
    color:darkred;
    font-weight: 500;
}

section .title h4 {
    padding-left: 20%;
    text-align: left;
    padding-top: 3%;
    color:black;
    font-weight: 500;
}

section .sub p {
    color: black;
    font-weight: 500;
} 

section .sub {
    display: flex;
}
section .title .sub .center{
    margin-left: auto;
    margin-right: auto;
}
section .sub table tr td p{
  text-align: justify; 
  padding-left: 3%;
  padding-top: 5%;
}
section .sub table tr td iframe{
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}
section .title .desc p{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    color:black;
    font-weight: 500;
}
