<section>
    <img src="../../assets/images/logoo__1_-removebg-preview (1).png" alt="" width="20%" height="30%" >
<div class="box">
    <p class="heading" style="font-size: larger;">FAQs</p>
    <div class="faqs" style="font-weight: 500;">
       <details>
          <summary>what is the summary of this website?</summary>
          <p class="text">Welcome to Wander Wings, your ultimate travel companion and guide to exploring the world's most mesmerizing destinations.we understand that finding the perfect accommodations and delectable dining options are essential elements of any memorable travel experience. That's why we are dedicated to providing comprehensive recommendations for hotels and restaurants that cater to various tastes and budgets. we provide an invaluable service by offering a curated list of doctors and medical professionals in various locations.</p>
       </details>
       <details>
          <summary>Is There Any Booking Available</summary>
          <p class="text">No There Is no Booking Only  travelling information is available.</p>
       </details>
       <details>
          <summary> The information is Relevant or not?</summary>
          <p class="text">Whatever we are providing the information is relevant.</p>
       </details>
       <details>
        <summary> How Can I able to Contact With The Doctors?</summary>
        <p class="text">Go to Particular area and then Recommended Doctors click on respective doctor and then click on enquire now.</p>
     </details>
     <details>
        <summary> How Can I able to Contact With The Guides?</summary>
        <p class="text">Go to Particular area and then Recommended Guides click on respective guides and then click on enquire now.</p>
     </details>
     
     <details>
        <summary> Is Andhra Pradesh a good travel destination?</summary>
        <p class="text">Yes it is a good travel destination.</p>
     </details>
    </div>
</div>
</section>
