<app-navbar1></app-navbar1>
<section>
    <div class="title">
        <h1>The Godavari Bridge</h1>
        <h4>Godavari Bridge, Rajahmundry Overview</h4> <br><br>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p>Weather : Verify <br><br>

                            Label : Must Visit <br><br>

                            Tags : Cave <br><br>

                            Timings : Monday to Sunday: 10:00 AM - 5:00 PM<br><br>

                            Time Required : 2-3 Hours<br><br>

                            Entry Fee : Adults: INR 40, Children: INR 30, Camera: INR 25<br><br>

                            Photography : Allowed<br><br>

                            Discovered in : 1807<br><br>

                            Best Time to Visit : November - March<br><br></p>
                    </td>
                    <td>
                        <iframe
                            src="https://en.wikipedia.org/wiki/Godavari_Bridge#/map/0"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="desc">
        <p>
            The Godavari bridge is 4.1 kilometers (2.8 km Rail part & 4.1 km Road part) long consisting of 27 spans of 91.5 m and 7 spans of 45.72 m of which 6 spans of 45.72m are in 6 deg. curve at long Rajahmundry end to make up for the built up area. The bridge has a road deck over the single track rail deck, similar to the Grafton Bridge in New South Wales, Australia. This bridge, in addition to Godavari Arch Bridge, has been widely used to represent Rajahmundry in arts, media, and culture. It is one of the recognised symbols of Rajahmundry.
            </p>

        <p>

            Old Godavari bridge
            The Old Godavari Bridge or Havelock Bridge was built in 1900 by Mr.F.T.G.Walton, now decommissioned, this bridge has 56 spans and is 2754 m long. It was constructed with stone masonry and steel girders and certainly a marvel of British engineering. The New Godavari Bridge was made as a substitute for it.
            


            </p>
        <p>Godavari arch bridge
            Godavari Arch Bridge is the third bridge constructed near Rajahmundry. Constructed by the Hindustan Construction Company (HCC), this bridge is a modern-day engineering feat. The bridge is made of bow string girder arches. The bridge is fit for 350 km/h rail services. It was commissioned for passenger traffic in March 1997 and became fully operational for running trains by the Indian Railways from 2003.. </p>

        <p>Fourth Godavari bridge
            New Kovvur–Rajahmundry 4th Bridge was opened to traffic in 2015
            Opened: 16 August 1974; 48 years ago
             Longest span: 91.5 metres (300 ft)
             Total length: 4.1 kilometres (2.5 mi)
             Engineering design by: Braithwaite,
        
        
        
        </p>
    </div>
    <img src="src\assets\images\god.jpg" alt="">
</section>
<app-footer></app-footer>