.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  padding-top: 0%;
  padding-bottom: 0%;
  /* min-height: 10%; */
  background-color: rgb(59, 116, 87);
}


.navbar .container-fluid .navbar-brand{
 font-family: 'Courier New', Courier, monospace;
 font-weight: 500;
}

.navbar .container-fluid .collapse ul{
  font-family:'Courier New', Courier, monospace ;
}

