.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  
  background-color: rgb(11, 95, 95);
}

.navbar .container-fluid .navbar-brand{
 font-family: 'Courier New', Courier, monospace;
 font-weight: 500;
}

.navbar .container-fluid .collapse ul{
  font-family:'Courier New', Courier, monospace ;
}

