section{
    background: url(../../assets/images/bg-c.jpeg);
    background-position: absolute;
    background-size: cover;
}
.container{
    background: rgb(244, 200, 228);
   background-position: absolute;
   background-size: cover;
   padding-bottom: 5%;
}
.log img{
    padding-left: 625px;
    margin-top: 25px;
    height: 250px;

}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}
.card{
	margin-left: 10px;
	margin-right: 10px;
}
.col-md-12 .btn{
  align-content: center;
  padding-top: 5%;
  margin-left: auto;
  margin-left: auto;
  background-color: rgb(33, 33, 253);
}