section{
    background: url("src\assets\images\scope.jpg");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
section .center{
   margin-left: auto;
   margin-right: auto;
}
section .center tr td img {
    padding-top: 5%;
    /* padding-left: 10%; */
    /* margin-right: 50%; */
    margin-left: 60%;

}
section .center tr .add{
    padding-top: 10%;
    padding-left: 40%;
    color:darkred;
    font-weight: 500;
    align-items: center;
}

section .center tr td{
    padding-top: 5%;
    padding-left:23%;
    color:darkred;
    font-weight: 500;
    margin-right: 50%;
    margin-left: 50%;
    padding-left: 30%;
}
section .center tr td p{
    padding-left: 0%;
}