.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    padding-top: 0%;
    padding-bottom: 0%;
   background-color: rgb(225, 215, 224);
  }
  .navbar .container-fluid .navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: black;
   }
   
   .navbar .container-fluid .collapse ul{
     font-family:'Courier New', Courier, monospace ;
     
   }
   .navbar .container-fluid .collapse ul li a{
    color: black;

    font-weight: 700;
   }
  