<app-navbar1></app-navbar1>
<section>
    <h1><u>Guide</u></h1>
    <table class="center">
        <tr>
            <td>
                <img src="../../assets/images/Tour_Guide.jpg" alt="" height=50% width=50%>
            </td>
        </tr>
        <tr>
           <td>
            <h4> Address: </h4> 
            <p>
            10-50-80, <br>
            Waltair Main Road, <br>
            Opposite Daspalla Executive Court. <br>
            </p>
           </td>
            <td>
                <p>Punnami Tourism, <br>
                    Ram Nagar, Visakhapatnam <br>
                </p>
            </td>
        </tr>
        <tr>
            <td><h4>Other deatails:</h4>
                <p>
                    Assam Medial College, Dibrugarh <br>
    
                    1987<br>
    
                    Upgrading the professionalism of tourist guides. <br>
                    Proceedings from the Travel Educators Forum. <br>
                    PATA Conference Singapore 11-14 July, PATA<br>
    
                    Institute Of Tour Guide, Dibrugarh<br>
    
                    1990<br>
    
                    DM - Tourist Guide<br>
    
                    AP Tourism Authority,<br>
    
                    1996<br>
                </p>
    
                <h4>Memberships:</h4>
                <p>AP Tourism Authority</p>
            </td>
            <td>
                <p><b>PHONE NO: <br> +91 7300056001</b> </p>
                <p>Mon-Fri <br>

                    7:00 pm - 8:30 pm <br>
                    Specializations <br>
                    Tourist Guide<br>
                    Academic Qualifications <br>
                    Diploma (2 years) in Tour and Travel management<br>
                </p>
            </td>
        </tr>
    </table>
</section>